---
---

@charset "utf-8";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: $red-700,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$base-color: $primary;

body {
  background-color: $base-color;
}
